---
export interface Props {
  photo: string;
  institutionName: string;
  institutionUrl: string;
  degrees: string[][];
  duration: string;
  location: string;
  description: string;
}

const {
  photo,
  institutionName,
  institutionUrl,
  degrees,
  duration,
  location,
  description,
} = Astro.props;
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/education/*.{jpeg,jpg,png,gif}"
);
---

<article class="section container is-max-desktop">
  <div class="box columns">
    <div class="column">
      <a href={institutionUrl}>
        <Image class="fit" src={images[photo]()} alt={photo} />
      </a>
    </div>
    <div class="column content">
      <h3 class="has-text-centered">{institutionName}</h3>
      <p class="has-text-centered">
        {
          degrees.map(([degree, departmentUrl]) => (
            <Fragment key={degree}>
              <a href={departmentUrl}>{degree}</a>
              <br />
            </Fragment>
          ))
        }
      </p>
      <div class="columns">
        <div
          class="column is-flex is-justify-content-center is-align-items-center gap-1"
        >
          <Icon class="icon is-small" name="fa6-solid:calendar" />
          <p>{duration}</p>
        </div>
        <div
          class="column is-flex is-justify-content-center is-align-items-center gap-1"
        >
          <Icon class="icon is-small" name="fa6-solid:location-dot" />
          <p>{location}</p>
        </div>
      </div>
      <p>{description}</p>
    </div>
  </div>
</article>
